.form-builder {
	font: 14px "Karla", Arial, "sans-serif";
}

.form-builder .form-element {
	margin-bottom: 20px;
}

.form-builder .form-element .question {
	margin-bottom: 10px;
}

.form-builder .form-element .question .question-image {
	display: block;
	max-width: 100%;
	height: 100px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.form-builder .form-element .question .question-audio {
	display: block;
	max-width: 100%;
	height: 30px;
	width: 100%;
	margin-top: 15px;
	margin-bottom: 15px;
}

.form-builder .form-element .question .question-video {
	display: block;
	max-width: 100%;
	margin-top: 15px;
	margin-bottom: 15px;
}

.form-builder .form-element .answer {
	overflow: hidden;
}

.form-input {
	font: 14px "Karla", Arial, "sans-serif";
}

input[type="text"].form-input,
input[type="number"].form-input,
input[type="email"].form-input,
select.form-input {
	padding: 5px 10px;
	width: 100%;
	border: solid 1px #ccc;
	transition: 0.2s ease-in;
	-webkit-transition: 0.1s ease-in;
	-o-transition: 0.1s ease-in;
	-moz-transition: 0.1s ease-in;
}

textarea.form-input {
	padding: 5px 10px;
	width: 100%;
	resize: vertical;
	border: solid 1px #ccc;
}

input[type="number"].form-input.form-percentage,
input[type="number"].form-input.form-currency {
	width: calc(100% - 50px);
	float: left;
}

span.percentage,
span.currency {
	width: 50px;
	float: left;
	display: block;
	text-align: center;
	background-color: #e7e7e7;
	color: #333;
	padding: 5px 10px;
	border-top: solid 1px #a9a9a9;
	border-bottom: solid 1px #a9a9a9;
	border-right: solid 1px #a9a9a9;
	border-left: none;
}

input[type="text"].form-input:hover,
input[type="number"].form-input:hover,
input[type="email"].form-input:hover,
textarea.form-input:hover {
	border-color: #999;
	outline: 0;
}

input[type="text"].form-input:active,
input[type="text"].form-input:focus,
input[type="number"].form-input:active,
input[type="number"].form-input:focus,
input[type="email"].form-input:active,
input[type="email"].form-input:focus,
textarea.form-input:active,
textarea.form-input:focus {
	border-color: #555;
	outline: 0;
}

div.form-input label {
	margin-right: 5px;
}

div.form-input input[type="checkbox"],
div.form-input input[type="radio"] {
	vertical-align: middle;
  margin-bottom: 5px;
}
	
.rating .rating-step {
}

.rating .rating-step .rating-item {
}


.rating {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.rating .rating-step {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 24px;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  height: 24px;
  background: url("/img/stars.svg");
  background-position: 0 0;
  cursor: pointer;
}

.rating .rating-step:hover,
.rating .rating-step.active {
  background-position: -24px 0;
}

.form-image-select label {
	display: block;
	height: 50px;
	position: relative;
	margin-bottom: 10px;
}

.form-image-select label input[type="checkbox"],
.form-image-select label input[type="radio"] {
	position: absolute;
  top: calc(50% - 10px);
  left: 0;
}

.form-image-select label img {
	max-width: 100%;
	max-height: 100%;
	padding-left: 30px;
}

.form-audio-select label {
	display: block;
	height: 30px;
	position: relative;
	margin-bottom: 10px;
}

.form-audio-select label input[type="checkbox"],
.form-audio-select label input[type="radio"] {
	position: absolute;
  top: calc(50% - 10px);
  left: 0;
}

.form-audio-select label audio {
	width: 100%;
	height: 100%;
	padding-left: 30px;
}

.form-video-select label {
	display: block;
	/*height: 30px;*/
	position: relative;
	margin-bottom: 10px;
	width: 50%;
	float: left;
}

.form-video-select .form-input label {
	margin-right: 0;
}

.form-video-select label:nth-child(odd) {
	padding-right: 15px;
}

.form-video-select label:nth-child(even) {
	padding-left: 15px;
}

.form-video-select label input[type="checkbox"],
.form-video-select label input[type="radio"] {
	position: absolute;
  top: calc(50% - 10px);
  left: 0;
}

.form-video-select label:nth-child(even) input[type="checkbox"],
.form-video-select label:nth-child(even) input[type="radio"] {
	left: 15px;	
}

.form-video-select label video {
	width: 100%;
	height: 100%;
	padding-left: 30px;
}

/* Wizard */

.wizard {
	overflow: hidden;
	width: 100%;
	padding: 15px;
	position: relative;
	padding-bottom: 50px;
	border: solid 1px #ccc;
}

.wizard .step {
	margin-bottom: 15px;
	font-style: italic;
}

.wizard .panel {
	position: relative;
}

.wizard .button-previous {
	position: absolute;
	left: 15px;
	bottom: 15px;
}

.wizard .button-next,
.wizard .button-submit {
	position: absolute;
	right: 15px;
	bottom: 15px;
}

.button-default {
}

.button-primary {
}