html {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
a {
  cursor: pointer;
}
.banner {
  text-align: center;
  font: 18px "Karla", Arial, "sans-serif";
  color: #fff;
  background-color: #37404a;
  padding-top: 15px;
  padding-bottom: 15px;
}
.navigation {
  background-color: #454f59;
  text-align: center;
}
.navigation .navigation-list {
  overflow: hidden;
  display: inline-block;
  width: auto;
  list-style: none;
  padding: 0;
  margin: 0;
}
.navigation .navigation-list .navigation-item {
  width: 80px;
  padding: 8px 12px;
  display: block;
  float: left;
}
.navigation .navigation-list .navigation-item .navigation-link {
  background-color: transparent;
  border: none;
  font: 16px "Karla", Arial, "sans-serif";
  color: #a2a2a2;
  display: inline-block;
}
.navigation .navigation-list .navigation-item .active {
  color: #fff;
}
.form-builder {
  height: calc(100% - 90px);
}
.form-builder .elements {
  width: 40%;
  height: 100%;
  float: left;
  border-right: solid 1px #ccc;
}
.form-builder .elements .element-list {
  list-style: none;
  margin: 0;
  padding-top: 25px;
  padding-left: 20px;
  overflow: hidden;
}
.form-builder .elements .element-list .element-list-item {
  width: calc(50% - 20px);
  margin-right: 20px;
  margin-bottom: 10px;
  float: left;
  background-color: #f1f1f1;
  border: 1px solid #d8d8d8;
  border-radius: 2px;
}
.form-builder .elements .element-list .element-list-item .element {
  font: 12px "Karla", Arial, "sans-serif";
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}
.form-builder .elements .element-list .element-list-item .element .icon {
  margin-right: 6px;
  margin-top: -2px;
  background: url(./../icon/main-sprite.png) no-repeat;
  display: block;
  float: left;
  width: 20px;
  height: 20px;
  text-indent: -9999px;
}
.form-builder .elements .element-list .element-list-item .element .icon-statement {
  background-position: 0 2px;
}
.form-builder .elements .element-list .element-list-item .element .icon-text {
  background-position: 0 -20px;
}
.form-builder .elements .element-list .element-list-item .element .icon-long-text {
  background-position: 0 -40px;
}
.form-builder .elements .element-list .element-list-item .element .icon-number {
  background-position: 0 -60px;
}
.form-builder .elements .element-list .element-list-item .element .icon-multiple-choice {
  background-position: 0 -80px;
}
.form-builder .elements .element-list .element-list-item .element .icon-picture-choice {
  background-position: 0 -100px;
}
.form-builder .elements .element-list .element-list-item .element .icon-yes-no {
  background-position: 0 -120px;
}
.form-builder .elements .element-list .element-list-item .element .icon-email {
  background-position: 0 -200px;
}
.form-builder .elements .element-list .element-list-item .element .icon-website {
  background-position: 0 -240px;
}
.form-builder .elements .element-list .element-list-item .element .icon-date {
  background-position: 0 -280px;
}
.form-builder .elements .element-list .element-list-item .element .icon-rating {
  background-position: 0 -320px;
}
.form-builder .elements .element-list .element-list-item .element .icon-question-group {
  background-position: 0 -520px;
}
.form-builder .elements .element-list .element-list-item .element .icon-file-upload {
  background-position: 0 -600px;
}
.form-builder .elements .element-list .element-list-item .element .icon-dropdown {
  background: url(./../icon/FIELD-ICON-dropdown.png) no-repeat;
}
.form-builder .elements .element-list .element-list-item .element:hover {
  background-color: #fbfbfb;
}
.form-builder .builder,
.form-builder .preview {
  width: 60%;
  min-height: 100%;
  background-color: #f4f4f4;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}
.form-builder .builder {
  float: left;
}
.form-builder .builder .element {
  margin-bottom: 25px;
}
.form-builder .builder .element .form-question {
  font: 14px "Karla", Arial, "sans-serif";
  font-weight: 600;
  display: block;
  margin-bottom: 10px;
}
.form-builder .builder .element input:not([type]).form-type, .form-builder .builder .element input[type="email" i].form-type, .form-builder .builder .element input[type="number" i].form-type, .form-builder .builder .element input[type="password" i].form-type, .form-builder .builder .element input[type="tel" i].form-type, .form-builder .builder .element input[type="url" i].form-type, .form-builder .builder .element input[type="text" i].form-type {
  background-color: #fff;
  color: #333;
  border: solid 1px #ccc;
  border-radius: 2px;
  padding: 5px 10px;
}
